:root{
    --color-fondo: #192130;
    --color-card: #303744;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:var(--color-fondo);
}

.card {
  background: var(--color-card);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
}

.card-div {
  position: relative;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

input[type="text"],
input[type="range"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.btn-copiar {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

label {
  display: block;
  margin-top: 10px;
}

.strength-bar {
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.strength-bar div {
  height: 100%;
  background: green;
  width: 75%;
}

.btn-generar {
  display: block;
  width: 100%;
  background: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.btn-generar:hover {
  background: #0056b3;
}
